stages :
  - build 
  - deploy

image: docker:19.03.12

variables:
  # When using dind service, you must instruct docker to talk with the
  # daemon started inside of the service. The daemon is available with
  # a network connection instead of the default /var/run/docker.sock socket.
  #
  # The 'docker' hostname is the alias of the service container as described at
  # https://docs.gitlab.com/ee/ci/docker/using_docker_images.html#accessing-the-services
  #
  # If you're using GitLab Runner 12.7 or earlier with the Kubernetes executor and Kubernetes 1.6 or earlier,
  # the variable must be set to tcp://localhost:2375 because of how the
  # Kubernetes executor connects services to the job container
  # DOCKER_HOST: tcp://localhost:2375
  #
  DOCKER_HOST: tcp://docker:2375
  #
  # This instructs Docker not to start over TLS.
  DOCKER_TLS_CERTDIR: ""

services:
  - docker:19.03.12-dind

# before_script:
#   - docker info

build:
  only : 
    - master
  stage: build
  script:
    - echo $SSH_PRIVATE_KEY > /id_ed25519
    - echo $SSH_PUBLIC_KEY > /id_ed25519.pub
    - cat /id_ed25519.pub
    - chmod 600 /id_ed25519
    - apk add git
    - cd src/db/models/schemas
    - GIT_SSH_COMMAND='ssh -i /id_ed25519 -o IdentitiesOnly=yes' git clone git@gitlab.com:focus-ventures/schemas.git
    - cd ../../../
    - docker build -t $DOCKER_REGISTRY_URL/lul-registry/lul-security -t $DOCKER_REGISTRY_URL/lul-registry/lul-security:$CI_COMMIT_SHORT_SHA .
    - mkdir ~/.docker
    - cat $DOCKER_CREDS > ~/.docker/config.json    
    - docker login $DOCKER_REGISTRY_URL
    - docker push $DOCKER_REGISTRY_URL/lul-registry/lul-security


deploy_dev:
  only : 
    - master
  stage: deploy
  image: devth/helm
  script:
      - export KUBECONFIG=$KUBECONFIG_file
      - git clone https://$GIT_USER:$GIT_TOKEN@gitlab.com/focus-ventures/lul-infra.git
      - cd lul-infra/charts
      - helm upgrade -i lul-security lul-security  -f lul-security/environments/dev.yaml
